.main-div {
  justify-content: center;
  margin: 2% 2% 2% 2%;
}
h5 {
  font-family: "Roboto slab", sans-serif;
}
img {
  min-width: 200px;
}
.child-div-1 {
  margin-left: 10%;
  flex: 3;
}
.child-div-2 {
  margin-right: 6%;
  flex: 1;
}

@media (min-width: 1001px) {
  .main-div {
    display: flex;
  }
}

@media (max-width: 1001px) {
  .child-div-2 {
    margin-left: 3%;
  }
  img {
    width: 450px;
    height: 300px;
  }
  .child-div-1 {
    margin-left: 13%;
  }
}
@media (max-width: 700px) {
  img {
    width: 350px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  img {
    width: 250px;
    height: 200px;
  }
}
