body {
  margin: 0;
  font-family: "Roboto slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: ; */
}

code {
  font-family: "Roboto slab", sans-serif;
}

/* #root {
  background-color: #f9fbfc;
} */
